.content-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}
.content-container p-card {
  width: 100%;
}

.content-forms {
  width: 100%;
}

.content-forms p-floatlabel {
  width: 100%;
  display: block;
}

.content-forms input {
  width: 100% !important;
}
